<launch>
  <arg name="simulation" default="false"/>

  <!--If using simulation use this fcu_url  -->
  <arg name="fcu_url" default="udp://:14551@:14555" if="$(var simulation)"/>
  <!--If using real robot use this fcu_url  -->
  <arg name="fcu_url" default="udp://192.168.2.1:14550@192.168.2.2:14555" unless="$(var simulation)"/>

  <arg name="gcs_url" default="udp://@localhost:14550"/>
  <arg name="system_id" default="255"/>
  <arg name="component_id" default="240"/>
  <arg name="tgt_system" default="1"/>
  <arg name="tgt_component" default="1"/>

  <node pkg="mavros" exec="mavros_node">
    <param name="fcu_url" value="$(var fcu_url)"/>
    <param name="gcs_url" value="$(var gcs_url)"/>
    <param name="system_id" value="$(var system_id)"/>
    <param name="component_id" value="$(var component_id)"/>
    <param name="target_system_id" value="$(var tgt_system)"/>
    <param name="target_component_id" value="$(var tgt_component)"/>
  </node>

  <node pkg="ping360_sonar" exec="ping360_node">
    <param name="connection_type" value="udp"/>
    <param name="udp_address" value="192.168.2.2"/>
    <param name="udp_port" value="9092"/>
    <param name="fallback_emulated" value="False"/>
    <param name="publish_eco" value="True"/>
    <param name="publish_scan" value="True"/>
    <param name="publish_image" value="True"/>
  </node>

  <node pkg="tudelft_hackathon" exec="bluerov_agent.py"
    output="screen"/>

</launch>
